{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-offset-3 col-md-6 columns">
  <div class="callout" data-equalizer-watch>

    <h3>{{title}}</h3>
    {% if confirm_message %}
    <p>{{confirm_message}}</p>
    {% endif %}
    {% if form %}
    <form action='.' method='POST'>
        {% csrf_token %}
        {{ form|crispy}}
        <br>
        <button type='submit' class='btn btn-default'>Submit</button>
    </form>
    {% endif %}
</div>



{% endblock %}
