//backgrounds courtesy of subtlepatterns.com
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./css/variables.scss";
html, body, #map { width: 100%; height: 100%; }
body { color: $colour; position: absolute; top: 0; bottom: 0; overflow-y: none;}
.navbar-brand {height: 40px; width: 40px; background: url("./css/images/nav/logo.png") no-repeat; margin-top: 5px;}
header .header{
  height: 44px;
  background-color: $primary-colour-dark;
  color: $colour;
  width: 100%;
  -webkit-box-shadow:0px 4px 5px -5px rgba(255, 255, 255, .4);
  -moz-box-shadow:0px 4px 5px -5px rgba(255, 255, 255, .4);
  box-shadow:0px 1px 5px -5px rgba(255, 255, 255, .4);
}

ul { list-style: none;}
ul li { display: inline; margin-top: 10px;}
ul li a { text-decoration: none; margin-right: 10px; width: 150px; padding: 15px 9px 10px 9px; color: $colour}
ul li a:hover { text-decoration: none; color: $text-hover-colour}
ul li ul { display: none; }
.nav-user-account ul li:hover ul {
  display: block;
   position: absolute;
   top: 40px;
   z-index: 10;
   right: -20px;
   background: $primary-colour-dark;
   width: 150px;
   height: 30px;
 }

.navbar-links, .nav-user-account { margin-top: 3px; color: $colour; font-size: 1.1em; }
.navbar-links { float: left; height: 40px; }
.navbar-right { float: right; display: inline; height: 40px; }
.nav-user-account { float: right; }
.nav-user-account-menu { height: 40px; margin-top: 3px; margin-right: 25px; font-size: 1.1em; }
.header-search-input { float: left;  }
.header-search-input input[type=text] {
  height: 25px;
  width: 150px;
  display: inline-block;
  border-radius: 15px;
  border: black;
  padding-left: 10px;
  margin-top: 7px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
}

.fa-user {
  margin-right: 10px;
}

.fa-search {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 0px;
    color: $colour;
    cursor:pointer;
    width: 0;
}

header .nav-container { margin-top: -5px; width: 100%;}
header .nav-container ul li a { color: #fff;}
footer { position: fixed; bottom: 0; width: 100%; background-color: $primary-colour-dark; height: 20px; }
footer .footer-text { position: relative; margin-bottom: 5px; left: 25%; }
.menu { float: right; margin-top: -20px; }
.main-container {
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}
.main-container-window {
  height: 100%;
  background-color: $background;
  border-left: 10px solid $primary-colour-dark;
  border-right: 10px solid $primary-colour-dark;
}

.page-width-container{
  width: 75%;
  margin: -20px auto;
}

//FRONT PAGE
.project-summary-container { margin-left: 4%; }
.project-summary-box { background: $primary-colour-light;
   width: 12%; height: 250px;
   box-shadow: 3px 3px 5px $primary-colour;
   float: left;
   margin-right: 2%;
   margin-top: 2%; }

.signup-container-splashback {
  width: 99%;
  height: 100%;
  background: url("./css/images/light_wool.png") repeat;
  opacity: .8;
  z-index: 999;
  display: block;
  position: absolute;

}

.signup-container{
   border-radius: 2px;
   background: #fff none repeat scroll 0 0;
   height: 400px;
   left: -15%;
   margin: 100px 50%;
   padding: 10px 30px;
   position: absolute;
   top: 20px;
   width: 25%;
   z-index: 1000;
   box-shadow: 3px 3px 5px #999;
}

#div_id_login {  margin-top: 50px; }

.signup-container-form-fields input[type=text], .signup-container-form-fields input[type=password] { width: 350px; }

.front-page-services { margin-top: 20px; }


//SOCIAL MEDIA ICONS

.social-media-icons-front-page a{ margin-right: 20px; display: inline-block; float: left;}
.social-media-icons-signin-page a{ margin-right: 20px; display: inline-block; float: left;}
.fb{  background: url('./css/images/socialmedia/fb_200.png')  no-repeat center top;  width: 180px;  height: 37px; display: inline-block;}
.fb-front-page{  background: url('./css/images/socialmedia/fb-front-page.png')  no-repeat center top;  width: 32px;  height: 32px; display: inline-block;}

.google {background: url('./css/images/socialmedia/google.png') no-repeat center top; width: 180px; height: 37px; overflow: hidden; display: inline-block}
.google-front-page {background: url('./css/images/socialmedia/google-front-page.png') no-repeat center top; width: 32px; height: 32px; overflow: hidden; display: inline-block}
.twitter {background: url('./css/images/socialmedia/twitter.png') no-repeat center top; width: 180px; height: 43px; overflow: hidden; display: inline-block}
.twitter-front-page {background: url('./css/images/socialmedia/twitter-front-page.png') no-repeat center top; width: 32px; height: 32px; overflow: hidden; display: inline-block}

//LOGIN PAGE

.signin-login-page { top: 50px;}

//CREDIT CARD
#cc-container { margin-top: 20px; position: absolute;}
