{% load static %}
<nav class="header">
  <div class="">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      </a>
    </div>
    <div class="navbar-links">
      <!-- <li><a href="#" onClick="project-create">Create</a></li>
      <li><a href="#" onClick="project-subscribe">Subscribe</a></li>
      <li><a href="#" onClick="project-data">Data</a></li>
      <li><a href="#" onClick="project-subscribe">Subscribe</a></li>
    -->
      <ul class="navbar-links">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}">Dashboard</a>
            <ul><li>Test</li></ul>
          </li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
          <li><a href="/plans">Plans</a></li>
        {% endif %}
      </ul>

    </div>
    <div class="navbar-right">
      <form class="header-search-input">
        <div class="form-group">
          <input type="text" id="filter" placeholder="Search"/>
          <i class="fa fa-search"></i>
        </div>
      </form>
      <div class="nav-user-account">
        <ul class="nav-user-account-menu">
          {% if request.user.is_authenticated %}
            <li><a><i class="fa fa-user" aria-hidden="true"></i>{{user}}</a>
              <ul><li><a href="{% url 'account_logout' %}">Logout</a></li></ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
