{% extends "base.html" %}
{%load static crispy_forms_tags i18n account socialaccount %}
{% load render_bundle from webpack_loader %}
{% block content %}
<div>
</div>
<div class="hero-container">
		<div class="signup-container col-md-2 col-md-offset-9">
			<div class="callout signin-front-page" data-equalizer-watch>
				<h5>Sign In</h5>
					 <!-- <p>Please sign in with one of your existing third party accounts. Or, <a href="/accounts/signup/">sign up</a>
					 for a localhost account and sign in below:</p> -->
						 <div class="social-media-icons-front-page">
							 <a href="/accounts/twitter/login/"><div class="twitter-front-page"></div></a>
							 <a href="/accounts/facebook/login/"><div class="fb-front-page"></div></a>
							 <a href="/accounts/google/login/"><div class="google-front-page"></div></a>
							 <div id="fb-root"></div>
								<script id="allauth-facebook-settings" type="application/json">
									{"logoutUrl": "http://localhost:8000/accounts/logout/", "csrfToken": "zAnTLcflstbS8ZlBUsr5CVg6t1sNlWuS", "errorUrl": "http://localhost:8000/accounts/social/login/error/", "loginUrl": "http://localhost:8000/accounts/facebook/login/", "appId": "1568919126743904", "locale": "en_US", "cancelUrl": "http://localhost:8000/accounts/social/login/cancelled/", "loginByTokenUrl": "http://localhost:8000/accounts/facebook/login/token/", "version": "v2.4", "loginOptions": {"scope": ""}}
								</script>
								<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>
							<div class="login-or">or</div>
						 </div>
						 <form class="login" method="POST" action="{% url 'account_login' %}">
							 <input type='hidden' name='csrfmiddlewaretoken' value='zAnTLcflstbS8ZlBUsr5CVg6t1sNlWuS' />{% csrf_token %}
									<div id="div_id_login" class="form-group">
										<label for="id_login" class="control-label  requiredField">
											Login<span class="asteriskField">*</span> </label> <div class="controls "> <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" name="login" placeholder="Username or e-mail" type="text" /> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="control-label  requiredField">
											Password<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password" /> </div> </div> <div class="form-group"> <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input class="checkboxinput" id="id_remember" name="remember" type="checkbox" />
											Remember Me
										</label>
									</div>
								</div>
						 <a class="btn btn-link secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
						 <a class="btn btn-link secondaryAction" href="{% url 'account_signup' %}">Sign Up</a>
						 <button class="primaryAction" type="btn btn-default">Sign In</button>
							</form>
					</div>
		</div>
</div>

<div class="row front-page-services" data-equalizer data-equalize-on="medium" id="test-eq">
  <div class="col-md-3">
    <div class="callout" data-equalizer-watch>
			<img class="img-responsive" src="{% get_media_prefix %}home/fire.png" alt="Early Warning Fire Detection" />
			<h3>Early Warning Fire Detection</h3>
				<div id="react-app"></div>
				{% render_bundle 'main' %}
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="callout" data-equalizer-watch>
			<img class="img-responsive" src="{% get_media_prefix %}home/urban.png" alt="Smart Cities" />
			<h3>Smart Cities</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.	Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida	nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    </div>
  </div>
	<div class="col-md-3">
    <div class="callout" data-equalizer-watch>
			<img class="img-responsive" src="{% get_media_prefix %}home/enviro.png" alt="Enviromental Monitoring" />
			<h3>Environmental Monitoring</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.	Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida	nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    </div>
  </div>
	<div class="col-md-3">
    <div class="callout" data-equalizer-watch>
			<img class="img-responsive" src="{% get_media_prefix %}home/ag.png" alt="Precision Agriculture" />
			<h3>Precision Agriculture</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.	Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida	nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    </div>
  </div>
</div>


{% endblock %}
